body {
    font-family: monospace;
}

#cubeform {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 235%;
}

#timer {
    text-align: center;
    position: relative;
    top: 165px;
    font-size: 850%;
}

.img {
    text-align: end;
    position: relative;
    top: 130px;
}

#topimg,
#bottomimg {
    position: relative;
    right: 215px;
}
